appdirs==1.4.4
argcomplete==1.10.0
Babel==2.1.1
beautifulsoup4==4.9.3
blivet==3.2.2
blivet-gui==2.1.15
chardet==3.0.4
click==7.1.2
clize==3.0
cupshelpers==1.0
dasbus==0.2
dbus-python==1.2.16
debtcollector==0.10.0
decorator==4.4.0
distlib==0.3.1
distro==1.4.0
filelock==3.0.12
Flask==1.1.2
Flask-Caching==1.9.0
funcsigs==0.4
gpg==1.14.0
httpie==1.0.3
humanize==0.5.1
idna==2.8
initial-setup==0.3.80
iso8601==0.1.11
itsdangerous==1.1.0
Jinja2==2.11.2
langtable==0.0.53
libcomps==0.1.15
lxml==4.4.1
MarkupSafe==0.23
monotonic==0.4
msgpack-python==0.4.6
netaddr==0.7.18
nftables==0.1
ntplib==0.3.3
ordered-set==3.1
pbr==1.8.1
pid==2.2.3
productmd==1.30
pwquality==1.4.4
pycairo==1.18.2
pycups==2.0.1
pycurl==7.43.0.5
Pygments==2.4.2
PyGObject==3.36.1
pyinotify==0.9.6
pykickstart==3.24
pyparted==3.11.4
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.0
python-gettext==4.0
python-manatools==0.0.3
python-meh==0.48
pytz==2015.7
pyudev==0.22.0
PyYAML==5.3.1
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
selinux==3.0
sepolicy==3.0
setools==4.3.0
sigtools==1.0
simpleline==1.6
six==1.10.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.9
soupsieve==1.9.2
systemd-python==234
urllib3==1.25.7
virtualenv==20.3.1
Werkzeug==1.0.1
wrapt==1.10.5
